.channel {
  width: 100%;

  & .form-channel-name {
    text-align: left;
    & label {

      font-size: .8em;
    }

    & input {
      border-radius: 15px;
    }
  }

  & .participants {
    text-align: left;
    & h4 {
      margin-top: 35px;
    }

    & ul {
      text-align: left;
      list-style: none;

      & li {

        width: 100%;

        & h6, a {
          margin-right: 3px;
          display: inline;
        }

        & a {
          font-size: .6em;
          color: $tomato-items-colour;
        }

        & a:hover {
          margin-left: 10px;
          padding: 5px;
          text-decoration: none;
          color: $channel-li-hover-colour;
          cursor: pointer;
        }
      }

      & li + li {
        margin-left: 0px;
      }
    }

    & form {
      width: 100%;
      margin-top: 50px;
    }

    & .autocomplete-form {

      margin-top: 20px;

      & label {
        text-align: left;
      }

      & .autocomplete {
        padding: 0;
        margin: 0px 15px;
        width: 80%;
      }

      & input {
        width: 99%;
        border-radius: 15px;
        padding-left: 10px;
      }

      & .autocomplete-menu {

        & .autocomplete-item {
          display: block;
          margin-left: 13px;
          width: 85%;
        }
      }

      & button {
        text-align: center;
        padding: 0px;
        display: inline;
        background: $tomato-colour;
        border: none;
        color: $tomato-items-colour;
      }

      & button:hover {
        cursor: pointer;
      }

    }
  }
}
