.channels {

  margin-left: 20px;
  border: 4px solid $tomato-colour;
  border-radius: 8px;

  & header h4 {
    border-bottom: 4px solid $tomato-colour;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  & .channel-list {
    max-height: 400px;
    width: 100%;
    overflow-y: scroll;

    & ul {
      width: 100%;
      padding: 0;
      list-style: none;
    }

    & ul .channel-list-item__container {
      padding: 18px 16px 10px;
      border-bottom: 2px solid $tomato-colour;
      margin: 0;
      box-sizing: border-box;
      display: block;

      & .channel-list-item {
        overflow:hidden;
      }

      & .channel-name h6 {
        text-align: left;
        font-size: .85em;
        display: inline;
      }

      & .channel-name h6:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      & .channel-name-selected h6 {
        font-style: italic;
      }

      & .channel-options {
        margin-left: 20px;

        & a {
          color: $tomato-colour;
        }

        & a:hover {
          text-decoration: none;
          color: $tomato-colour;
          cursor: pointer;
        }
      }

      & .owner-nickname {
        text-align: right;
        font-size: .7em;
      }
    }

    & ul .channel-list-item__container-selected {
      background: $tomato-colour;
      border-radius: 0px;
      border-top: 1px solid $tomato-colour;

      & div .channel-selection a {
        color: $tomato-items-colour;
      }
    }
  }

  .channel-creation {
    border-top: 1px solid $tomato-colour;

    & input {
      margin: 20px 0 25px 0;
      padding: 5px;
      border: 2px solid $profile-border-colour;
      border-radius: 15px;
    }

  }
}
