.channel {
  width: 70%;

  & form input {
    border-radius: 15px;
  }

  & .participants {

    & h4 {
      margin-top: 35px;
    }

    & ul {
      list-style: none;

      & li {

        width: 35%;

        & h6, a {
          display: inline;
        }

        & a {
          margin-left: 15px;
          color: $tomato-items-colour;
        }

        & a:hover {
          text-decoration: none;
          color: $channel-li-hover-colour;
          cursor: pointer;
        }
      }
    }

    & form {
      width: 100%;
      margin-top: 50px;
    }

    & .autocomplete {

      margin-top: 20px;

      & input {
        border-radius: 15px;
      }

      & .autocomplete-menu {

        & .autocomplete-item {
          display: block;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
