.channels {

  margin-left: 20px;
  border: 4px solid $channel-li-hover-colour;
  border-radius: 8px;

  & .channel-list {

    width: 100%;

    & ul {
      list-style: none;
    }

    & ul li {
      width: 80%;
      margin-top: 15px;
      text-align: center;
      border-bottom: 1px solid $tomato-items-colour;

      & .visible {
        visibility: visible;
      }

      & .not-visible {
        visibility: hidden;
      }

      & div, h6 {
        display: inline;
      }

      & .settings {
        margin-left: 10px;
      }

      & .arrowDown {
        margin-left: 0px;
      }

      & .arrowUp {
        margin-left: 10px;
      }

      & a {
        color: $tomato-items-colour;
      }

      & a:hover {
        text-decoration: none;
        color: $channel-li-hover-colour;
        cursor: pointer;
      }

      & .channel-name {
        color: $channel-name-colour;
      }

    }
  }

  .channel-creation {

    & input {
      margin: 20px 0 25px 0;
      padding: 5px;
      border: 2px solid $profile-border-colour;
      border-radius: 4px;
    }

  }
}
