.login-form {
  width: 100%;
  height: 100px;
  background: $background-colour;
  padding: 8px;
  display: flex;
  align-items: center;
  flex: 1;

  & label, input, button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
  }

  & label {
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
  }

  & input {
    width: 30%;

    border: solid 2px $profile-border-colour;
    font-size: 1.2em;
    border-radius: 10px;
    padding-left: 10px;
  }

  & button {
    width: 10%;
    margin-left: 30px;
    text-align: center;
  }
}





