.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list-group-item {
  background: tomato;
  border: inset crimson 1px;
  margin-right: 10px;
}

.message-list {
  background-color: tomato;
  text-align: left;
  height: auto;
}

.message-container {
  border: 0;
  box-shadow: grey;
}

.message-text {
  alignment: left;
  margin-left: 20px;
}

.message-author {
  alignment: left;
  margin-left: 20px;
  font-weight: bold;
}

.message {
  box-shadow: black;
}

