.message-list {
  background-color: tomato;
  align-items: start;
  border: solid 4px #b10a2c;
}

.message:nth-child(2n) {
  background-color: salmon;
}

.message-author {
  align-content: start;
}

.message-text {

}
