//////////////////////////////////////////
//              Colours                 //
//////////////////////////////////////////
$profile-background-colour: #8080801f;
$profile-border-colour: #80808066;
$tomato-chat-items-colour: #ff0033;
$tomato-chat-items-hover-colour: #f7eeef;
