//////////////////////////////////////////
//              Colours                 //
//////////////////////////////////////////
$background-colour: #8080801f;
$profile-border-colour: #80808066;
$tomato-items-colour: #ff0033;
$tomato-chat-items-hover-colour: #f7eeef;
$app-header-background-colour: #282c34;
$app-link-colour: #61dafb;
$channel-li-hover-colour: #b10a2c;
$channel-name-colour: #000;


//////////////////////////////////////////
//              Fonts                   //
//////////////////////////////////////////
$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$font-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
